/* 

---------- TYPOGRAPHY---------

FONT SIZE:
12PX / 16PX / 20PX / 24PX / 32PX / 40PX / 48PX / 62PX

FONT WEIGHT:
400 / 700

LINE HEIGHT:
1.2 / 1.5

LETTER SPACING:
0 /-2PX


FONT FAMILY:
Poppins

----------color palette---------

PRIMARY COLOR:
Base: #339af0 (sky blue)
Tints: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)




*/





h1 {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
    letter-spacing: -2px;
    font-size: 62px;
    font-family: 'Poppins', sans-serif; 
    color: #212529;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    font-family: 'Poppins', sans-serif; 
    color: #212529;
}

h2 {
    
    font-size: 48px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    
    font-size: 24px;
}

p, a {
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif; 
    color: #495057;
}

p {

    font-size: 20px;

}

a {
    text-decoration: none;
    font-size: 16px;

}

ul {
    list-style: none;
    
} 